* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  
  font-family: "Kumbh Sans", sans-serif ;
}

body {
  font-size: 1em;
  /* - Weights: 400, 700 */
}

:root {
  --Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
/* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
--Black: hsl(0, 0%, 0%)
}

li {
  cursor: pointer;
}

button:disabled {
  color: var(--Very-dark-blue) !important;
}

#menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  padding-left: 2em;
}

#menu-list li 
{
  margin: .5em 0;
  font-weight: 700;
  color: var(--Very-dark-blue);
}


.header::after {
  content: '';
  display: block;
  width: 78.5%;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 15%;
  left:11%;
  opacity: .2;
}

.mini {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}  

ul {
  list-style: none;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.thumbnail.active img{
  outline: 2px solid orangered;
  opacity: .5;
  border-radius: 10px;
  object-fit: contain;
}

.thumbnail img:hover{
    transform: scale(.97);
}


figure img {
  position: absolute;
  max-width: 100%;
  top: 10%;
  left: 0;
}


.btn-orange:hover {
  box-shadow: 13px 11px 22px -10px rgba(255,125,26,0.75);
}


.btn-itens {
  display: flex !important;
  flex-direction: row !important;
  position: absolute;
  left: 0;
  top:33%;
  width: 100% !important;
}




.btn-itens button{
  background-color: #fff !important;
  transform: scale(.8);
}

.btn-right {
  position: absolute !important;
  right: 0 ;
}

.btn-left, .btn-right {
  z-index: 100;
  background-color: transparent !important;
}

h1 {
  font-weight: 700 !important;
  color:var(--Black);
  opacity: 75%;
  letter-spacing: 2px !important; 
}

h2 {
  font-size: 2em !important;
  max-width: 400px;
  margin: .2em 0 .5em 0 !important;
}

#price {
  font-size: 1.7em ;
  padding-right: .7em;
  font-weight: 700 !important;
}

#black {
   width: 75px !important;
   height: 50px;
   padding: .3em;
   font-weight: 700 !important;
   border-radius: 7px;
   background-color: var(--Black);
   color: #fff;
}




#orange-btn button::first-letter {
  text-transform: capitalize !important;
}


@media (min-width:800px){

  .btn-itens {
    display: flex !important;
    flex-direction: row !important;
    position: absolute;
    left: 0;
    top:75%;
    width: 100% !important;
  }
  
}

@media (min-width:960px){

  .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2em;
  }

 
  

 
  .btn-left, .btn-right {
    z-index: 100;
    
    border-radius: 100px !important;
    background-color: aqua  !important;
  }
  
  
}

/* @media (min-width:1024px) {
  #informationSection {
      position: relative;
      top:5rem;
  }
} */



@media (min-width:1200px){

  .row-links {
    position: relative;
  }  

  .btn-item:hover {
    color: var(--Very-dark-blue);
  }

  .btn-item:hover::after {
    content: '';
    position: absolute;
    top: 57px;
    display: block;
    width: 50px;
    height: 2px;
    background-color: hsl(26, 100%, 55%);
  }

  .btn-item:nth-of-type(1)::after {
    width: 67px;
  }


  .display .display-image:focus {
    outline: none;
    background: transparent;
  }

  .display .display-image  {
    position: relative;
    top: -2rem;
      width: 100%;
      right: 4rem;
  } 

  .btn-arrow {
    color: #000 !important;
  }

  .btn-arrow:hover{
    color: var(--Orange) !important;
  }

  .avatar-icon:hover {
    border: 2px solid orange !important;
  }

  button img {
    border-radius: 7px;
  }

  ul {
    position: relative;
    top: 29rem;
    left: -5rem;
    list-style: none;
    width: 55%;
    display: flex;
    justify-content: space-between;
  }


  ul li {
    margin: 0 1em;
  }

  .thumbnail img:hover{
    transform: scale(1.1);
}

.mini {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}  


.subSlder.active  {
  position: fixed; /* Fixa na tela, mesmo ao rolar */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
  z-index: 9999; /* Garante que fique acima de outros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.another-slider {
   width: 25% !important;
   left: -.5%;
   top:27rem;
}

.another-slider li {
  margin: 0 .7em;
}

.another-row .mini {
  width: 65px;
  height: 65px;
}

.close img {
  filter: grayscale(100%) brightness(1000%) ;
}


}



@media (min-width:1440px){
  .header::after {
    content: '';
    display: block;
    width: 80%;
    background-color: gray;
    position: absolute;
    bottom: 15%;
    left:10%;
    opacity: .2;
  }


  #subSlide-Container {
    top: -13rem !important;
    transform: scale(1.3);
  }
}