


.header::after {
  content: '';
  display: block;
  width: 78.5%;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 15%;
  left:11%;
  opacity: .2;
}

.mini {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}  

ul {
  list-style: none;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.thumbnail.active img{
  outline: 2px solid orangered;
  opacity: .5;
  border-radius: 10px;
  object-fit: contain;
}

.thumbnail img:hover{
    transform: scale(.97);
}

/* .display {
  position: relative;
  top: 0;
  max-width: 100%;
  background-color: red;
} */

/* figure {
  position: relative;
} */

figure img {
  position: absolute;
  max-width: 100%;
  top: 10%;
  left: 0;
}

.btn-itens {
  display: flex !important;
  flex-direction: row !important;
  position: absolute;
  left: 0;
  top:35%;
  width: 100% !important;
}


.btn-right {
  position: absolute !important;
  right: 0 ;
}

.btn-left, .btn-right {
  z-index: 100;
  background-color: transparent !important;
}



@media (min-width:800px){

  .btn-itens {
    display: flex !important;
    flex-direction: row !important;
    position: absolute;
    left: 0;
    top:75%;
    width: 100% !important;
  }
  
}

@media (min-width:960px){

  .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2em;
  }

  figure img {
    position: relative;
    max-width: 75%;
    top: 5rem;
    left: 0;
    border-radius: 10px;
  }

  .btn-itens {
    display: flex !important;
    flex-direction: row !important;
    position: absolute;
    left:13%;
    top:55%;
    width: 74% !important;
  }

 
  .btn-left, .btn-right {
    z-index: 100;
    
    border-radius: 100px !important;
    background-color: aqua  !important;
  }
  
  
}

@media (min-width:1200px){

  .display .display-image:focus {
    outline: none;
    background: transparent;
  }

  .display .display-image  {
    position: relative;
      width: 55%;
  } 

  ul {
    position: relative;
    top: 5rem;
    left: 5.2rem;
    list-style: none;
    width: 25%;
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width:1440px){
  .header::after {
    content: '';
    display: block;
    width: 80%;
    background-color: gray;
    position: absolute;
    bottom: 15%;
    left:10%;
    opacity: .2;
  }
}